<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.heri.monzo">

    <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
    <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/twotone_notifications_24px" />
    <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more. -->
    <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    <!-- Step 1: Add the following permission to the app -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
            android:name="android.permission.USE_BIOMETRIC"/> <!-- Step 2: This permission is depreciated in Android P -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

    <supports-screens
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <service android:name=".Messaging.fbMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:parentActivityName=".MainActivity"
                android:name=".Authentication.ProfileActivity">
        </activity>
        <activity
                android:name=".Authentication.RegisterActivity"
                android:noHistory="true">
        </activity>
        <activity
                android:name=".Authentication.LoginActivity"
                android:noHistory="true">
        </activity>
        <activity android:name=".Authentication.SplashScreenActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
                android:name=".ScanActivity"
                android:noHistory="true"
                android:screenOrientation="portrait">
        </activity>

        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode"/>

        <activity
                android:name=".EmptyMainActivity"
                android:noHistory="true"
                android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".TransactionActivity"
                android:label="@string/title_activity_transaction"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".Authentication.UnlockActivity"
                android:noHistory="true">
        </activity>
        <activity android:name=".CalendarActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>